
@media screen and (max-width: 500px){
         body 
		 {
             background-color: lightblue;
         }
         p
		 {
             font-size:14px;
			 text-align: center;
         }
       
         img{
             width:100%;
             height: auto;
         }
        }
		h1{
		   font-size: 14px;
	   }
    body>p{
        text-align: center;
    }
    body>h1{
        text-align: center;
    }
    footer{
        text-align: center;
    }